{
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "target": "es2016"
  },
  "module": {
    "type": "commonjs"
  }
}
